/* Write your own custom component styles here */
@font-face {
  font-family: 'iA Quattro';
  font-stretch: 25% 150%;
  font-weight: 100 1000;
  src: url('../../public/static/fonts/iAWriterQuattroV.ttf') format('truetype-variations');
}

::-moz-selection {
  background: var(--color-bg-accent);
  color: var(--color-text-on-accent);
}

::selection {
  background: var(--color-bg-accent);
  color: var(--color-text-on-accent);
}

.light {
  --color-bg-accent: hsla(205, 79%, 66%, 1);
  --color-bg-primary: hsla(0, 100%, 100%, 1);
  --color-bg-secondary: hsla(210, 38%, 95%, 1);
  --color-bg-accent-hover: hsla(207, 73%, 57%, 1);

  --color-text-accent: hsla(211, 61%, 43%, 1);
  --color-text-primary: hsla(218, 23%, 23%, 1);
  --color-text-secondary: hsla(218, 17%, 35%, 1);
  --color-text-tertiary: hsla(218, 17%, 35%, 1);
  --color-text-on-accent: hsla(204, 45%, 98%, 1);

  --color-fill-primary: hsla(205, 79%, 83%, 1);
  --color-fill-secondary: hsla(210, 38%, 95%, 1);

  --color-gradient-accent1: hsla(209, 62%, 50%, 1);
  --color-gradient-accent2: hsla(174, 59%, 56%, 1);

  --color-code-background: hsla(210, 38%, 98%, 1);
  --color-code-background-file: hsla(210, 38%, 95%, 1);
  --color-code-line-hover: hsla(210, 38%, 95%, 1);
  --color-code-word-highlight: hsla(211, 61%, 43%, 0.6);
  --color-code-word-highlight-hover: hsla(211, 61%, 43%, 1);
  --color-code-text: hsla(218, 23%, 23%, 1);
  --color-code-comment: hsla(216, 15%, 52%, 1);
  --color-code-punctuation: hsla(184, 52%, 47%, 1);
  --color-code-const: hsla(256, 100%, 65%, 1);
  --color-code-bool: hsla(256, 100%, 65%, 1);
  --color-code-string: hsla(35, 92%, 58%, 1);
  --color-code-var: hsla(1, 77%, 55%, 1);
  --color-code-func: hsla(231, 99%, 62%, 1);
  --color-code-keyword: hsla(256, 100%, 65%, 1);
  --color-code-regex: hsla(217, 38%, 55%, 1);
}

.dark {
  --color-bg-accent: hsla(172, 67%, 70%, 1);
  --color-bg-primary: hsla(220, 26%, 14%, 1);
  --color-bg-secondary: hsla(220, 25%, 12%, 1);
  --color-bg-accent-hover: hsla(174, 59%, 56%, 1);

  --color-text-accent: hsla(172, 67%, 70%, 1);
  --color-text-primary: hsla(204, 45%, 98%, 1);
  --color-text-secondary: hsla(214, 32%, 91%, 1);
  --color-text-tertiary: hsla(214, 20%, 69%, 1);
  --color-text-on-accent: hsla(220, 26%, 14%, 1);

  --color-fill-primary: hsla(172, 67%, 70%, 1);
  --color-fill-secondary: hsla(220, 25%, 12%, 1);

  --color-gradient-accent1: hsla(209, 62%, 50%, 1);
  --color-gradient-accent2: hsla(174, 59%, 56%, 1);

  --color-code-background: hsla(220, 25%, 12%, 1);
  --color-code-background-file: hsla(220, 25%, 10%, 1);
  --color-code-line-hover: hsla(220, 25%, 8%, 1);
  --color-code-word-highlight: hsla(172, 67%, 70%, 0.75);
  --color-code-word-highlight-hover: hsl(172, 67%, 70%, 1);
  --color-code-text: hsla(210, 38%, 95%, 1);
  --color-code-comment: hsla(216, 15%, 52%, 1);
  --color-code-punctuation: hsla(210, 38%, 95%, 1);
  --color-code-const: hsla(326, 100%, 74%, 1);
  --color-code-bool: hsla(265, 89%, 78%, 1);
  --color-code-string: hsla(135, 94%, 65%, 1);
  --color-code-var: hsla(60, 30%, 96%, 1);
  --color-code-func: hsla(65, 92%, 76%, 1);
  --color-code-keyword: hsla(191, 97%, 77%, 1);
  --color-code-regex: hsla(31, 100%, 71%, 1);
}

@layer base {
  body {
    @apply font-mono;
     background-color: var(--color-bg-primary);
     color: var(--color-text-primary);
  }

  /* needed to override tailwind forms styles */
  select {
    @apply w-full px-4 py-2 bg-gray-900 border border-gray-200 rounded focus:outline-none focus:border-gray-900 text-primary dark:border-gray-800 dark:focus:border-gray-600 dark:bg-white bg-opacity-5 hover:bg-opacity-10 focus:ring-0;
  }
}

@layer components {
  .font-list-heading {
    @apply font-sans text-lg font-bold text-primary;
  }

  .font-title-heading {
    @apply font-sans text-2xl font-bold text-primary;
  }

  .tabbed-navigation::-webkit-scrollbar {
    display: none;
  }
}

/* Your own custom utilities */
@layer utilities {
  .text-primary {
    @apply text-gray-900 dark:text-gray-100;
  }

  .text-secondary {
    @apply text-gray-700 dark:text-gray-300;
  }

  .text-tertiary {
    @apply text-gray-500 dark:text-gray-500;
  }

  .text-quaternary {
    @apply text-gray-400 dark:text-gray-600;
  }

  .bg-elevated {
    @apply bg-gray-400 dark:bg-gray-50 bg-opacity-5;
  }

  .timeline-inset {
    @apply ml-16 md:ml-0;
  }

  .timeline-full-width {
    @apply -ml-16 md:ml-0;
  }

  .filter-none {
    filter: none;
  }

  .filter-grayscale {
    filter: grayscale(100%);
  }

  .filter-saturate {
    -webkit-filter: brightness(105%) saturate(200%) contrast(1);
    filter: brightness(105%) saturate(200%) contrast(1);
  }

  .filter-blur {
    backdrop-filter: saturate(180%) blur(20px);
  }

  .highlight-link-hover {
    @apply px-0.5 -mx-0.5 no-underline md:hover:bg-yellow-400 rounded-sm md:dark:hover:bg-yellow-500 dark:bg-opacity-100 text-gray-900 dark:text-gray-300 bg-opacity-20 md:hover:bg-opacity-30 md:dark:hover:bg-opacity-100 md:dark:hover:text-gray-900;
  }

  .highlight-link {
    @apply px-0.5 -mx-0.5 no-underline bg-yellow-400 rounded dark:bg-gray-100 dark:bg-opacity-20 text-gray-900 dark:text-gray-300 bg-opacity-20 md:hover:bg-opacity-30 md:dark:hover:bg-yellow-500 md:dark:hover:bg-opacity-100 md:dark:hover:text-gray-900;
  }

  .blink {
    animation: blink-animation 1.5s steps(2, start) infinite;
    -webkit-animation: blink-animation 1.5s steps(2, start) infinite;
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  .ripple {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 64px;
    margin-left: -32px;
    margin-top: -32px;
    animation: ripple 2s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  @keyframes ripple {
    0% {
      opacity: 0.8;
      transform: scale(0);
    }

    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
}

/* @font-face { */
/*   font-family: 'iA Quattro'; */
/*   font-stretch: 25% 150%; */
/*   font-weight: 100 1000; */
/*   src: url('../../public/fonts/iAWriterQuattroV.ttf') format('truetype-variations'); */
/* } */

/* @layer base { */
/*   body { */
/*     @apply font-mono; */
/*     font-family: 'iA Quattro'; /1* TODO: figure this out *1/ */
/*   } */

/*   /1* needed to override tailwind forms styles *1/ */
/*   select { */
/*     @apply w-full px-4 py-2 bg-gray-900 border border-gray-200 rounded focus:outline-none focus:border-gray-900 text-primary 2xl:border-gray-800 2xl:focus:border-gray-600 2xl:bg-white bg-opacity-5 hover:bg-opacity-10 focus:ring-0; */
/*   } */
/* } */

/* @layer components { */
/*   .font-list-heading { */
/*     @apply font-sans text-lg font-bold text-primary; */
/*   } */

/*   .tabbed-navigation::-webkit-scrollbar { */
/*     display: none; */
/*   } */
/* } */

/* /1* Your own custom utilities *1/ */
/* @layer utilities { */
/*   .text-primary { */
/*     @apply text-gray-900 2xl:text-gray-100; */
/*   } */

/*   .text-secondary { */
/*     @apply text-gray-700 2xl:text-gray-300; */
/*   } */

/*   .text-tertiary { */
/*     @apply text-gray-500 2xl:text-gray-500; */
/*   } */

/*   .text-quaternary { */
/*     @apply text-gray-400 2xl:text-gray-600; */
/*   } */

/*   .bg-elevated { */
/*     @apply bg-gray-400 2xl:bg-gray-50 bg-opacity-5; */
/*   } */

/*   .timeline-inset { */
/*     @apply ml-16 md:ml-0; */
/*   } */

/*   .timeline-full-width { */
/*     @apply -ml-16 md:ml-0; */
/*   } */

/*   .filter-none { */
/*     filter: none; */
/*   } */

/*   .filter-grayscale { */
/*     filter: grayscale(100%); */
/*   } */

/*   .filter-saturate { */
/*     -webkit-filter: brightness(105%) saturate(200%) contrast(1); */
/*     filter: brightness(105%) saturate(200%) contrast(1); */
/*   } */

/*   .filter-blur { */
/*     backdrop-filter: saturate(180%) blur(20px); */
/*   } */

/* /1*   .highlight-link-hover { *1/ */
/* /1*     @apply px-0.5 -mx-0.5 no-underline md:hover:bg-yellow-400 rounded-sm md:group-hover:bg-yellow-500  2xl:bg-opacity-100 text-gray-900 2xl:text-gray-300 bg-opacity-20 md:hover:bg-opacity-30 md:dark:hover:bg-opacity-100 md:dark:hover:text-gray-1000; *1/ */
/* /1*   } *1/ */

/* /1*   .highlight-link { *1/ */
/* /1*     @apply px-0.5 -mx-0.5 no-underline bg-yellow-400 rounded dark:bg-gray-100 dark:bg-opacity-20 text-gray-1000 dark:text-gray-300 bg-opacity-20 md:hover:bg-opacity-30 md:dark:hover:bg-yellow-500 md:dark:hover:bg-opacity-100 md:dark:hover:text-gray-1000; *1/ */
/* /1*   } *1/ */

/*   .blink { */
/*     animation: blink-animation 1.5s steps(2, start) infinite; */
/*     -webkit-animation: blink-animation 1.5s steps(2, start) infinite; */
/*   } */

/*   @keyframes blink-animation { */
/*     to { */
/*       visibility: hidden; */
/*     } */
/*   } */
/*   @-webkit-keyframes blink-animation { */
/*     to { */
/*       visibility: hidden; */
/*     } */
/*   } */

/*   .ripple { */
/*     position: absolute; */
/*     width: 64px; */
/*     height: 64px; */
/*     border-radius: 64px; */
/*     margin-left: -32px; */
/*     margin-top: -32px; */
/*     animation: ripple 2s forwards cubic-bezier(0.075, 0.82, 0.165, 1); */
/*   } */

/*   @keyframes ripple { */
/*     0% { */
/*       opacity: 0.8; */
/*       transform: scale(0); */
/*     } */

/*     100% { */
/*       opacity: 0; */
/*       transform: scale(1); */
/*     } */
/*   } */
/* } */
